.App {
  text-align: center;
}

body,
html {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #fdf8f3;
}

button {
  background-color: #ee6b19;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 0.5rem 2rem;
  margin: 1rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}
